srophe-app/documentation/syriaca-tei-main.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:rng="http://relaxng.org/ns/structure/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Syriaca Main ODD File</title>
                <author>Daniel Schwartz</author>
            </titleStmt>
            <publicationStmt>
                <p>for use by whoever wants it</p>
            </publicationStmt>
            <notesStmt>
                <note type="ns">http://www.example.org/ns/nonTEI</note>
            </notesStmt>
            <sourceDesc>
                <p>created on Tue May 20 2014 09:06:59 GMT-0500 (CDT)</p>
            </sourceDesc>
        </fileDesc>
    </teiHeader>
    <text>
        <front>
            <divGen type="toc"/>
        </front>
        <body>
            <p>My TEI Customization starts with modules tei, core, textstructure and header</p>
            <schemaSpec docLang="en" ident="syriacaMainODD" prefix="tei_" xml:lang="en">
                <classSpec ident="att.global" mode="change" module="tei" type="atts">
                    <attList>
                        <attDef ident="syriaca-computed-start" mode="add">
                            <desc>start date</desc>
                            <datatype maxOccurs="unbounded" minOccurs="1">
                                <rng:text xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
                            </datatype>
                        </attDef>
                        <attDef ident="source" mode="add">
                            <desc>Global source attribute. This should use a hash URI to point to 
                            one or more bibliography items in <tag>bibl</tag> elements.</desc>
                            <datatype minOccurs="1" maxOccurs="unbounded">
                                <dataRef key="teidata.pointer"/>
                            </datatype>
                        </attDef>
                    </attList>
                </classSpec>
                <classSpec ident="att.global" mode="change" module="tei" type="atts">
                    <attList>
                        <attDef ident="syriaca-computed-end" mode="add">
                            <desc>End date</desc>
                            <datatype maxOccurs="unbounded" minOccurs="1">
                                <rng:text xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
                            </datatype>
                        </attDef>
                    </attList>
                </classSpec>
                <classSpec ident="att.global" mode="change" module="tei" type="atts">
                    <attList>
                        <attDef ident="syriaca-tags" mode="add">
                            <desc>tags usable</desc>
                            <datatype maxOccurs="unbounded" minOccurs="1">
                                <rng:text xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
                            </datatype>
                            <valList mode="change" type="semi">
                                <valItem ident="#syriaca-headword">
                                    <desc>The name used by Syriaca.org for document titles, citation, and
                                        disambiguation. These names have been created according to the
                                        Syriaca.org guidelines for headwords: <ref target="http://syriaca.org/documentation/headwords.html">http://syriaca.org/documentation/headwords.html</ref>.</desc>
                                </valItem>
                                <valItem ident="#syriaca-anglicized">
                                    <desc>An anglicized version of a name created by Syriaca.org used to
                                        facilitate searching in English.</desc>
                                </valItem>
                            </valList>
                        </attDef>
                    </attList>
                </classSpec>
                <moduleRef
                    except="binaryObject cit distinct email emph gb headItem headLabel index measureGrp media meeting mentioned num postBox postCode rs said soCalled sp speaker stage street teiCorpus term time"
                    key="core"/>
                <moduleRef key="tei"/>
                <moduleRef
                    except="abstract appInfo application att.patternReplacement biblFull cRefPattern calendar calendarDesc correction creation distributor hyphenation listChange listPrefixDef namespace normalization notesStmt prefixDef quotation refState refsDecl samplingDecl scriptNote segmentation stdVals styleDefDecl tagUsage tagsDecl typeNote rendition"
                    key="header"/>
                <moduleRef except="cell row table notatedMusic" key="figures"/>
                <moduleRef key="gaiji"/>
                <moduleRef except="alt altGrp join joinGrp linkGrp timeline when" key="linking"/>
                <moduleRef except="dim heraldry msItemStruct objectType scriptDesc secFol typeDesc"
                    key="msdescription"/>
                <moduleRef
                    except="bloc listNym geogFeat geogName nym population relationGrp terrain"
                    key="namesdates"/>
                <moduleRef
                    except="app lacunaEnd lacunaStart lem listApp listWit rdg rdgGrp variantEncoding"
                    key="textcrit"/>
                <moduleRef
                    except="line listTranspose metamark mod redo retrace sourceDoc space substJoin surface surfaceGrp surplus transpose undo zone"
                    key="transcr"/>
                <moduleRef
                    except="argument byline dateline div1 div2 div3 div4 div5 div6 div7 docDate group imprimatur trailer floatingText"
                    key="textstructure"/>
                <moduleRef
                    except="altIdent alternate att attDef attList attRef classRef classSpec classes code constraint constraintSpec content datatype defaultVal eg egXML elementRef elementSpec equiv exemplum ident listRef macroRef macroSpec memberOf moduleRef moduleSpec remarks sequence specDesc specGrp specGrpRef specList tag val valDesc valItem valList att.combinable att.deprecated att.identified att.namespaceable att.repeatable"
                    key="tagdocs"/>
                <moduleRef except="certainty respons" key="certainty"/>
                <moduleRef key="analysis"/>
                <moduleRef key="dictionaries" include="lang"/>
                <!-- If the TEI organization changes "precision" so that it can be a child of state and have notBefore notAfter attributes, this change may be removed. -->
                <elementSpec ident="precision" module="certainty" mode="change">
                    <classes mode="replace">
                        <memberOf key="model.certLike"/>
                        <memberOf key="model.descLike" mode="add"/>
                        <memberOf key="model.global"/>
                        <memberOf key="model.global.meta"/>
                        <memberOf key="model.labelLike" mode="add"/>
                        <memberOf key="att.datable.w3c" mode="add"/>
                        <memberOf key="att.global"/>
                        <memberOf key="att.scoping"/>
                    </classes>
                </elementSpec>
                <elementSpec ident="lang" module="dictionaries" mode="change">
                    <desc>contains the name of a language mentioned in etymological or other linguistic discussion. Inside a <gi>bibl</gi> element, this 
                        refers to the language of the version to which the <gi>bibl</gi> refers. The contents of <gi>lang</gi> should be a BCP-47 code.</desc>
                    <constraintSpec scheme="isoschematron" ident="lang-in-bibl">
                        <constraint xmlns:s="http://purl.oclc.org/dsdl/schematron">
                            <!-- Not sure whether this is working as it should in oXygen validation. -->
                            <s:report test="not(ancestor::tei:bibl)">Error: The lang element is only allowed inside a bibl element.</s:report>
                        </constraint>
                    </constraintSpec>
                    <exemplum versionDate="2016-11-09">
                        <egXML xmlns="http://www.tei-c.org/ns/Examples">
                            <bibl type="lawd:Translation" xml:id="bib2501-4">
                                <lang>la</lang>
                                <title level="m" xml:lang="la">Chronicon Syriacum</title>
                                <ptr target="http://syriaca.org/bibl/2279"/>
                                <citedRange unit="vol" from="1" to="1">1</citedRange>
                            </bibl>
                        </egXML>
                    </exemplum>
                    <remarks versionDate="2016-11-09">
                        <p>Syriaca.org uses the <gi>lang</gi> element inside <gi>bibl</gi> elements for modern translations and ancient versions 
                            to indicate the language of the version to which the <gi>bibl</gi> refers. This is different from the <att>xml:lang</att>
                            attribute which shows the language of this element, and also different from the <gi>textLang</gi> element which describes 
                            the language of the bibliographic item. (In some cases this is different from the language of the version. For example, the 
                            bibliographic item may point to an English translation of an ancient Armenian version.)</p>
                    </remarks>
                </elementSpec>
                <elementSpec ident="bibl" module="core" mode="change">
                    <content>
                        <alternate>
                            <!-- Model for work entity -->
                            <sequence>
                                <!-- requiring attribute doesn't seem to be working -->
                                <classRef key="att.typed" minOccurs="1" context="body/bibl"/>
                                <elementRef key="title" maxOccurs="unbounded" context="body/bibl"/>
                                <alternate minOccurs="0" maxOccurs="unbounded">
                                    <elementRef key="author" context="body/bibl"/>
                                    <elementRef key="editor" context="body/bibl"/>
                                </alternate>
                                <elementRef key="idno" maxOccurs="unbounded" context="body/bibl"/>
                                <elementRef key="textLang" minOccurs="0" context="body/bibl"/>
                                <elementRef key="date" minOccurs="0" maxOccurs="unbounded" context="body/bibl"/>
                                <elementRef key="extent" minOccurs="0" context="body/bibl"/>
                                <elementRef key="note" minOccurs="0" maxOccurs="unbounded" context="body/bibl"/>
                                <elementRef key="bibl" minOccurs="0" maxOccurs="unbounded" context="body/bibl"/>
                                <elementRef key="listRelation" minOccurs="0" context="body/bibl"/>
                            </sequence>
                            <!-- Model for citations inside work entity -->
                            <sequence>
                                <!-- requiring attribute doesn't seem to be working -->
                                <classRef key="att.typed" minOccurs="1" context="body/bibl/bibl"/>
                                <elementRef key="lang" minOccurs="0" maxOccurs="unbounded"
                                    context="body/bibl/bibl[@type='lawd:Translation']"/>
                                <elementRef key="idno" minOccurs="0" maxOccurs="unbounded" context="body/bibl/bibl[@type='syriaca:Manuscript']"/>
                                <alternate minOccurs="0" maxOccurs="unbounded">
                                    <elementRef key="author" context="body/bibl/bibl"/>
                                    <elementRef key="editor" context="body/bibl/bibl"/>
                                </alternate>
                                <elementRef key="title" minOccurs="0" maxOccurs="unbounded" context="body/bibl/bibl"/>
                                <elementRef key="ptr" 
                                        context="body/bibl/bibl[@type=('lawd:Edition','lawd:Translation','lawd:Citation')]"/>
                                <elementRef key="textLang" minOccurs="0" context="body/bibl/bibl"/>
                                <elementRef key="date" minOccurs="0" maxOccurs="unbounded" context="body/bibl/bibl"/>
                                <elementRef key="extent" minOccurs="0" context="body/bibl/bibl"/>
                                <elementRef key="citedRange" minOccurs="0" maxOccurs="unbounded" context="body/bibl/bibl"/>
                                <elementRef key="note" minOccurs="0" maxOccurs="unbounded" context="body/bibl/bibl"/>
                                <elementRef key="bibl" minOccurs="0" maxOccurs="unbounded" context="body/bibl/bibl"/>
                                <elementRef key="listRelation" minOccurs="0" context="body/bibl/bibl"/>
                            </sequence>
                            <!-- Model for references to works in an unstructured format. 
                            This could be locked down more so that it interferes less with the above two models. -->
                            <alternate minOccurs="0"
                                maxOccurs="unbounded">
                                <textNode/>
                                <classRef key="model.gLike" context="not(body/bibl[@type='lawd:ConceptualWork']) and not(body/bibl/bibl[@type=('lawd:Edition','lawd:Translation','lawd:Citation','syriaca:Manuscript')])"/>
                                <classRef key="model.highlighted" context="not(body/bibl[@type='lawd:ConceptualWork']) and not(body/bibl/bibl[@type=('lawd:Edition','lawd:Translation','lawd:Citation','syriaca:Manuscript')])"/>
                                <classRef key="model.pPart.data" context="not(body/bibl[@type='lawd:ConceptualWork']) and not(body/bibl/bibl[@type=('lawd:Edition','lawd:Translation','lawd:Citation','syriaca:Manuscript')])"/>
                                <classRef key="model.pPart.edit" context="not(body/bibl[@type='lawd:ConceptualWork']) and not(body/bibl/bibl[@type=('lawd:Edition','lawd:Translation','lawd:Citation','syriaca:Manuscript')])"/>
                                <classRef key="model.segLike" context="not(body/bibl[@type='lawd:ConceptualWork']) and not(body/bibl/bibl[@type=('lawd:Edition','lawd:Translation','lawd:Citation','syriaca:Manuscript')])"/>
                                <classRef key="model.ptrLike" context="not(body/bibl[@type='lawd:ConceptualWork']) and not(body/bibl/bibl[@type=('lawd:Edition','lawd:Translation','lawd:Citation','syriaca:Manuscript')])"/>
                                <classRef key="model.biblPart" context="not(body/bibl[@type='lawd:ConceptualWork']) and not(body/bibl/bibl[@type=('lawd:Edition','lawd:Translation','lawd:Citation','syriaca:Manuscript')])"/>
                                <classRef key="model.global" context="not(body/bibl[@type='lawd:ConceptualWork']) and not(body/bibl/bibl[@type=('lawd:Edition','lawd:Translation','lawd:Citation','syriaca:Manuscript')])"/>
                            </alternate>
                        </alternate>
                      
                    </content>
                    <attList>
                        <attDef ident="type" mode="change">
                            <desc>The <att>type</att> attribute on <gi>bibl</gi> elements may be an RDF class defining the type of work or item.
                                These will typically begin with either the prefix lawd: (http://lawd.info/ontology) or syriaca:</desc>
                            <valList mode="change" type="semi">
                                <valItem ident="lawd:ConceptualWork">
                                    <desc>A Conceptual Work groups together one or more Written Works which
                                        have the same intellectual source. E.g. The Iliad, as opposed to a particular manuscript witness or edition of the Iliad. 
                                        See http://lawd.info/ontology/ConceptualWork.</desc>
                                </valItem>
                                <valItem ident="lawd:Edition">
                                    <desc>A published (whether officially or not) Written Work that relies on
                                        one or more Written Works as sources.
                                        See http://lawd.info/ontology/Edition.</desc>
                                </valItem>
                                <valItem ident="lawd:Translation">
                                    <desc>A Written Work that translates one or more other Written Works that embody the same Conceptual Work.
                                        See http://lawd.info/ontology/Translation.</desc>
                                </valItem>
                                <valItem ident="lawd:Citation">
                                    <desc>A Citation models a bibliographic reference as a resource.
                                        See http://lawd.info/ontology/Citation.</desc>
                                </valItem>
                                <valItem ident="syriaca:Manuscript">
                                    <desc>Any text-bearing object, which usually embodies a Conceptual Work and which may be a source 
                                        for an Edition or Translation.</desc>
                                </valItem>
                                <valItem ident="syriaca:Catalogue">
                                    <desc>A Citation of a catalogue.</desc>
                                </valItem>
                            </valList>
                        </attDef>
                        <attDef ident="ana" mode="change">
                            <desc>The <att>ana</att> attribute on <gi>bibl</gi> elements should contain one or more Syriaca.org subject URIs beginning with 
                                http://syriaca.org/subject/</desc>
                        </attDef>
                    </attList>
                </elementSpec>
                <elementSpec ident="idno" module="header" mode="change">
                    <attList>
                        <attDef ident="type" mode="change">
                            <desc>The <att>type</att> attribute on <gi>idno</gi> defines the kind of identifier contained 
                                in the text value. Custom types not listed here may be used so long as they are standard and clearly recognizable 
                                (for example, "CPG" for Clavis Patrum Graecorum numbers for work entities). Where available, URIs are always 
                                preferred over other types of identifiers.</desc>
                            <valList mode="change" type="semi">
                                <valItem ident="URI">
                                    <desc>A Uniform Resource Identifier. The Syriaca.org URI for the entity being described in the current 
                                        document is contained in an idno of this type.</desc>
                                </valItem>
                                <valItem ident="ISBN">
                                    <desc>An International Standard Book Number, used to identify books.</desc>
                                </valItem>
                                <valItem ident="ISSN">
                                    <desc>An International Standard Serial Number, used to identify serial publications, such as journals.</desc>
                                </valItem>
                                <valItem ident="DOI">
                                    <desc>A digital object identifier, used to identify objects. However, the preferred method for including DOIs 
                                        is with an <gi>idno</gi> of <att>type</att> "URI", prefixed by http://dx.doi.org/. For example, 
                                        http://dx.doi.org/10.1006/reli.1997.0085.
                                    </desc>
                                </valItem>
                                <valItem ident="FIEY">
                                    <desc>An identifier for a saint used by Fiey, Jean Maurice. Saints Syriaques. 
                                        Princeton, N.J.: The Darwin Press, Inc., 2004. (http://syriaca.org/bibl/650)</desc>
                                </valItem>
                                <valItem ident="BHS">
                                    <desc>An identifier for a hagiographic work from Bibliotheca Hagiographica Syriaca. (http://syriaca.org/bibl/649)</desc>
                                </valItem>
                                <valItem ident="BHO">
                                    <desc>An identifier for a hagiographic work from Bibliotheca Hagiographica Orientalis. (http://syriaca.org/bibl/1314)</desc>
                                </valItem>
                                <valItem ident="CPG">
                                    <desc>An identifier for a  work from Clavis Patrum Graecorum. (http://syriaca.org/bibl/2081)</desc>
                                </valItem>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                <elementSpec ident="author" module="core" mode="change">
                    <attList>
                        <attDef ident="ref" mode="change" usage="rec">
                            <desc>Should contain the URI of the author from the <ref target="http://syriaca.org/persons">Syriac 
                            Biographical Dictionary</ref>, unless no record yet exists for the author.</desc>
                        </attDef>
                        <!-- Should we import any values for @role or limit which ones can be applied to 
                        author and which to editor? -->
                        <attDef ident="role" mode="change">
                            <desc>Specifies the connection of the author to the work, selected from 
                                http://syriaca.org/documentation/author-editor-roles.xml . The attribute 
                                value should contain the above URL followed by a hash (#) and the 
                                <att>xml:id</att> of the role. For example, http://syriaca.org/documentation/author-editor-roles.xml#pseudo .
                            This is not required if normal authorship is assumed (rather than 
                            pseudonymous or questionably attributed authorship). It is also 
                            not required if the connection is unknown.</desc>
                        </attDef>
                    </attList>
                    <exemplum versionDate="2016-11-23">
                        <egXML xmlns="http://www.tei-c.org/ns/Examples">
                            <author ref="http://syriaca.org/person/239" role="http://syriaca.org/documentation/author-editor-roles.xml#pseudo">
                                <persName xml:lang="en">Gregorius Bar Hebraeus</persName> — 
                                <persName xml:lang="syr">ܓܪܝܓܘܪܝܘܣ ܒܪ ܥܒܪܝܐ</persName>
                            </author>
                        </egXML>
                    </exemplum>
                    <remarks versionDate="2016-11-23">
                        <p>Inside the main <gi>bibl</gi> of a work entity, authors are linked to 
                        their record in the Syriac Biographical Dictionary using a URI in the 
                        <att>ref</att> attribute. For the purpose of displaying the author's 
                        name on the work's HTML page, the English and Syriac headwords are included 
                        as <gi>persName</gi> elements separated by a dash. The nature of the author's 
                        connection to a work may be further specified using the <att>role</att>
                        attribute on <gi>author</gi>.</p>
                    </remarks>
                </elementSpec>
                <elementSpec ident="editor" module="core" mode="change">
                    <attList>
                        <attDef ident="ref" mode="change" usage="rec">
                            <desc>Should contain the URI of the editor from the <ref target="http://syriaca.org/persons">Syriac 
                                Biographical Dictionary</ref>, unless no record yet exists for the editor.</desc>
                        </attDef>
                        <attDef ident="role" mode="change" usage="rec">
                            <desc>Specifies the connection of the editor to the work, selected from 
                                http://syriaca.org/documentation/author-editor-roles.xml . The attribute 
                                value should contain the above URL followed by a hash (#) and the 
                                <att>xml:id</att> of the role. For example, http://syriaca.org/documentation/author-editor-roles.xml#translator .
                                This is recommended, but not required if the type of connection is unknown.</desc>
                        </attDef>
                    </attList>
                    <exemplum versionDate="2016-11-23">
                        <egXML xmlns="http://www.tei-c.org/ns/Examples">
                            <editor ref="http://syriaca.org/person/239" role="http://syriaca.org/documentation/author-editor-roles.xml#translator">
                                <persName xml:lang="en">Gregorius Bar Hebraeus</persName> — 
                                <persName xml:lang="syr">ܓܪܝܓܘܪܝܘܣ ܒܪ ܥܒܪܝܐ</persName>
                            </editor>
                        </egXML>
                    </exemplum>
                    <remarks versionDate="2016-11-23">
                        <p>Inside the main <gi>bibl</gi> of a work entity, editors are linked to 
                            their record in the Syriac Biographical Dictionary using a URI in the 
                            <att>ref</att> attribute. For the purpose of displaying the editor's 
                            name on the work's HTML page, the English and Syriac headwords are included 
                            as <gi>persName</gi> elements separated by a dash. The nature of the editor's 
                            connection to a work may be further specified using the <att>role</att>
                            attribute on <gi>editor</gi>.</p>
                    </remarks>
                </elementSpec>
                <elementSpec ident="body" module="textstructure" mode="change">
                    <content>
                        <alternate>
                            <elementRef key="bibl"/>
                            <elementRef key="biblStruct"/>
                            <elementRef key="listPerson"/>
                            <elementRef key="listPlace"/>
                        </alternate>                        
                    </content>
                </elementSpec>
                <classSpec ident="att.source" module="tei" mode="change" type="atts">
                    <attList>
                        <attDef ident="source" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.readFrom" module="tei" mode="change" type="atts">
                    <attList>
                        <attDef ident="source" mode="delete"/>
                    </attList>
                </classSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>
