srophe-app/documentation/syriaca-tei-main.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:rng="http://relaxng.org/schmea#" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Syriaca Main ODD File</title>
                <author>Daniel Schwartz</author>
            </titleStmt>
            <publicationStmt>
                <p>for use by whoever wants it</p>
            </publicationStmt>
            <notesStmt>
                <note type="ns">http://www.example.org/ns/nonTEI</note>
            </notesStmt>
            <sourceDesc>
                <p>created on Tue May 20 2014 09:06:59 GMT-0500 (CDT)</p>
            </sourceDesc>
        </fileDesc>
    </teiHeader>
    <text>
        <front>
            <divGen type="toc"/>
        </front>
        <body>
            <p>My TEI Customization starts with modules tei, core, textstructure and header</p>
            <schemaSpec docLang="en" ident="syriacaMainODD" prefix="tei_" xml:lang="en">
                <classSpec ident="att.global" mode="change" module="tei" type="atts">
                    <attList>
                        <attDef ident="syriaca-computed-start" mode="add">
                            <desc>start date</desc>
                            <datatype maxOccurs="unbounded" minOccurs="1">
                                <rng:text xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
                            </datatype>
                        </attDef>
                        <attDef ident="source" mode="add">
                            <desc>Global source attribute. </desc>
                            <datatype minOccurs="1" maxOccurs="unbounded">
                                <dataRef key="teidata.pointer"/>
                            </datatype>
                        </attDef>
                    </attList>
                </classSpec>
                <classSpec ident="att.global" mode="change" module="tei" type="atts">
                    <attList>
                        <attDef ident="syriaca-computed-end" mode="add">
                            <desc>End date</desc>
                            <datatype maxOccurs="unbounded" minOccurs="1">
                                <rng:text xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
                            </datatype>
                        </attDef>
                    </attList>
                </classSpec>
                <classSpec ident="att.global" mode="change" module="tei" type="atts">
                    <attList>
                        <attDef ident="syriaca-tags" mode="add">
                            <desc>tags usable</desc>
                            <datatype maxOccurs="unbounded" minOccurs="1">
                                <rng:text xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
                            </datatype>
                        </attDef>
                    </attList>
                </classSpec>
                <moduleRef
                    except="binaryObject cit distinct email emph gb headItem headLabel index measureGrp media meeting mentioned num postBox postCode rs said soCalled sp speaker stage street teiCorpus term time"
                    key="core"/>
                <moduleRef key="tei"/>
                <moduleRef
                    except="abstract appInfo application att.patternReplacement biblFull cRefPattern calendar calendarDesc correction creation distributor hyphenation listChange listPrefixDef namespace normalization notesStmt prefixDef quotation refState refsDecl samplingDecl scriptNote segmentation stdVals styleDefDecl tagUsage tagsDecl typeNote rendition"
                    key="header"/>
                <moduleRef except="cell row table notatedMusic" key="figures"/>
                <moduleRef key="gaiji"/>
                <moduleRef except="alt altGrp join joinGrp linkGrp timeline when" key="linking"/>
                <moduleRef except="dim heraldry msItemStruct objectType scriptDesc secFol typeDesc"
                    key="msdescription"/>
                <moduleRef
                    except="bloc listNym geogFeat geogName nym population relationGrp terrain"
                    key="namesdates"/>
                <moduleRef
                    except="app lacunaEnd lacunaStart lem listApp listWit rdg rdgGrp variantEncoding"
                    key="textcrit"/>
                <moduleRef
                    except="line listTranspose metamark mod redo retrace sourceDoc space substJoin surface surfaceGrp surplus transpose undo zone"
                    key="transcr"/>
                <moduleRef
                    except="argument byline dateline div1 div2 div3 div4 div5 div6 div7 docDate group imprimatur trailer floatingText"
                    key="textstructure"/>
                <moduleRef
                    except="altIdent alternate att attDef attList attRef classRef classSpec classes code constraint constraintSpec content datatype defaultVal eg egXML elementRef elementSpec equiv exemplum ident listRef macroRef macroSpec memberOf moduleRef moduleSpec remarks sequence specDesc specGrp specGrpRef specList tag val valDesc valItem valList att.combinable att.deprecated att.identified att.namespaceable att.repeatable"
                    key="tagdocs"/>
                <moduleRef except="certainty respons" key="certainty"/>
                <moduleRef key="analysis"/>
                <moduleRef key="dictionaries" include="lang"/>
                <!-- If the TEI organization changes "precision" so that it can be a child of state and have notBefore notAfter attributes, this change may be removed. -->
                <elementSpec ident="precision" module="certainty" mode="change">
                    <classes mode="replace">
                        <memberOf key="model.certLike"/>
                        <memberOf key="model.descLike" mode="add"/>
                        <memberOf key="model.global"/>
                        <memberOf key="model.global.meta"/>
                        <memberOf key="model.labelLike" mode="add"/>
                        <memberOf key="att.datable.w3c" mode="add"/>
                        <memberOf key="att.global"/>
                        <memberOf key="att.scoping"/>
                    </classes>
                </elementSpec>
                <elementSpec ident="lang" module="dictionaries" mode="change">
                    <desc>contains the name of a language mentioned in etymological or other linguistic discussion. Inside a <gi>bibl</gi> element, this 
                        refers to the language of the version to which the <gi>bibl</gi> refers. The contents of <gi>lang</gi> should be a BCP-47 code.</desc>
                    <constraintSpec scheme="isoschematron" ident="lang-in-bibls">
                        <constraint xmlns:s="http://purl.oclc.org/dsdl/schematron">
                            <s:report test="not(ancestor::tei:bibl)">Error: The lang element is only allowed inside a bibl element.</s:report>
                        </constraint>
                    </constraintSpec>
                    <exemplum versionDate="2016-11-09">
                        <egXML xmlns="http://www.tei-c.org/ns/Examples">
                            <bibl type="lawd:Translation" xml:id="bib2501-4">
                                <lang>la</lang>
                                <title level="m" xml:lang="la">Chronicon Syriacum</title>
                                <ptr target="http://syriaca.org/bibl/2279"/>
                                <citedRange unit="vol" from="1" to="1">1</citedRange>
                            </bibl>
                        </egXML>
                    </exemplum>
                    <remarks versionDate="2016-11-09">
                        <p>Syriaca.org uses the <gi>lang</gi> element inside <gi>bibl</gi> elements for modern translations and ancient versions 
                            to indicate the language of the version to which the <gi>bibl</gi> refers. This is different from the <att>xml:lang</att>
                            attribute which shows the language of this element, and also different from the <gi>textLang</gi> element which describes 
                            the language of the bibliographic item. (In some cases this is different from the language of the version. For example, the 
                            bibliographic item may point to an English translation of an ancient Armenian version.)</p>
                    </remarks>
                </elementSpec>
                <elementSpec ident="bibl" module="core" mode="change">
                    <attList>
                        <attDef ident="type" mode="change">
                            <desc>The <att>type</att> attribute on <gi>bibl</gi> elements may be an RDF class defining the type of work or item.
                                These will typically begin with either the prefix lawd: (http://lawd.info/ontology) or syriaca:</desc>
                            <valList mode="change" type="semi">
                                <valItem ident="lawd:ConceptualWork">
                                    <desc>A Conceptual Work groups together one or more Written Works which
                                        have the same intellectual source. E.g. The Iliad, as opposed to a particular manuscript witness or edition of the Iliad. 
                                        See http://lawd.info/ontology/ConceptualWork.</desc>
                                </valItem>
                                <valItem ident="lawd:Edition">
                                    <desc>A published (whether officially or not) Written Work that relies on
                                        one or more Written Works as sources.
                                        See http://lawd.info/ontology/Edition.</desc>
                                </valItem>
                                <valItem ident="lawd:Translation">
                                    <desc>A Written Work that translates one or more other Written Works that embody the same Conceptual Work.
                                        See http://lawd.info/ontology/Translation.</desc>
                                </valItem>
                                <valItem ident="lawd:Citation">
                                    <desc>A Citation models a bibliographic reference as a resource.
                                        See http://lawd.info/ontology/Citation.</desc>
                                </valItem>
                                <valItem ident="syriaca:Manuscript">
                                    <desc>Any text-bearing object, which usually embodies a Conceptual Work and which may be a source 
                                        for an Edition or Translation.</desc>
                                </valItem>
                                <valItem ident="syriaca:Catalogue">
                                    <desc>A Citation of a catalogue.</desc>
                                </valItem>
                            </valList>
                        </attDef>
                        <attDef ident="ana" mode="change">
                            <desc>The <att>ana</att> attribute on <gi>bibl</gi> elements should contain one or more Syriaca.org subject URIs beginning with 
                            http://syriaca.org/subject/</desc>
                        </attDef>
                    </attList>
                </elementSpec>
                <elementSpec ident="idno" module="header" mode="change">
                    <attList>
                        <attDef ident="type" mode="change">
                            <desc>The <att>type</att> attribute on <gi>idno</gi> defines the kind of identifier contained 
                            in the text value. Custom types not listed here may be used so long as they are standard and clearly recognizable 
                            (for example, "CPG" for Clavis Patrum Graecorum numbers for work entities). Where available, URIs are always 
                            preferred over other types of identifiers.</desc>
                            <valList mode="change" type="semi">
                                <valItem ident="URI">
                                    <desc>A Uniform Resource Identifier. The Syriaca.org URI for the entity being described in the current 
                                    document is contained in an idno of this type.</desc>
                                </valItem>
                                <valItem ident="FIEY">
                                    <desc>An identifier for a saint used by Fiey, Jean Maurice. Saints Syriaques. 
                                        Princeton, N.J.: The Darwin Press, Inc., 2004. (http://syriaca.org/bibl/650)</desc>
                                </valItem>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                <classSpec ident="att.source" module="tei" mode="change" type="atts">
                    <attList>
                        <attDef ident="source" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.readFrom" module="tei" mode="change" type="atts">
                    <attList>
                        <attDef ident="source" mode="delete"/>
                    </attList>
                </classSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>
